* {
  box-sizing: border-box;
}
html {
  font-family: "Karla", sans-serif;
  font-size: 62.5%;
  font-weight: 400;
}
body {
  padding: 0;
  margin: 0;
  background-color: hsl(204, 43%, 93%);
  font-size: 1.6rem;
}
#body {
  min-width: 31rem;
  width: 31rem;
  margin: 7.2rem auto;
}
.header {
  width: 100%;
  padding: 2.8rem 2.4rem 3.4rem 2.4rem;
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: white;
}
p {
  margin: 0;
}
.header > h1 {
  padding-bottom: 2.2rem;
  margin: 0;
  color: hsl(179, 62%, 43%);
  font-size: 1.9rem;
  font-weight: 700;
}
.header > h3 {
  padding-bottom: 1.4rem;
  margin: 0;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2rem;
  color: hsl(71, 73%, 54%);
}
.header > p {
  font-size: 1.3rem;
  line-height: 2.7rem;
  color: hsl(218, 22%, 67%);
}
.content {
  width: 100%;
  border-radius: 0 0 0.5rem 0.5rem;
  overflow: hidden;
}
.content__element {
  width: 100%;
  height: 22.8rem;
  padding: 2.4rem 2.4rem 2.4rem 2.4rem;
  color: white;
  float: left;
  position: relative;
}
.content__element > h2 {
  padding-bottom: 1.8rem;
  margin: 0;
  font-size: 1.7rem;
  font-weight: 700;
  color: white;
}
.content__price {
  font-size: 3.2rem;
  font-weight: 700;
  float: left;
}
.content__priceDesc {
  padding-bottom: 0.6rem;
  padding-left: 1.2rem;
  line-height: 4rem;
  color: hsl(179, 60%, 60%);
  float: left;
}
.content__desc_1 {
  font-size: 1.5rem;
  clear: left;
}
.content__button {
  border-radius: 0.5rem;
  background-color: hsl(71, 73%, 54%);
  font-weight: 700;
  line-height: 4.8rem;
  text-align: center;
  text-decoration: none;
  color: white;
  display: block;
  position: absolute;
  bottom: 2.4rem;
  left: 2.4rem;
  right: 2.4rem;
}
.content__button:hover {
  background-color: hsl(71, 84%, 62%);
  cursor: pointer;
}
.content__desc_2 {
  font-size: 1.4rem;
  line-height: 2.1rem;
}
.content__element:first-child {
  background-color: hsl(179, 62%, 43%);
}
.content__element:last-child {
  background-color: hsl(179, 60%, 60%);
}
.attribution {
  font-size: 1.1rem;
  text-align: center;
  clear: left;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media only screen and (min-width: 635px) {
  body {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  #body {
    width: 63.5rem;
  }
  .header {
    padding: 4rem 3.8rem 3.8rem 3.8rem;
  }
  .header > h1 {
    padding-bottom: 3.2rem;
    font-size: 2.4rem;
  }
  .header > h3 {
    font-size: 1.8rem;
  }
  .header > p {
    font-size: 1.6rem;
  }
  .content__element {
    width: 50%;
    height: 28rem;
    padding: 4.8rem 3.8rem 3.8rem 3.8rem;
  }
  .content__element > h2 {
    font-size: 1.9rem;
  }
  .content__priceDesc {
    padding-bottom: 1rem;
  }
  .content__desc_1 {
    font-size: 1.6rem;
  }
  .content__button {
    line-height: 5.2rem;
    right: 3.8rem;
    bottom: 3.8rem;
    left: 3.8rem;
  }
}
